.App {
  text-align: center;
}

.page-container {
  margin: 12%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 12px 0;
}

.error {
  color: red;
  margin: 10px 0;
}

button, input[type='submit'] {
  height: 40px;
  width: 60px;
  margin: auto;
}

.yes-button {
  margin: 10px;
  background: orangered;
}

.no-button {
  margin: 10px;
}

.success {
  color: darkgreen
}

input {
  margin: 0 10px;
}

.offline {
  color: red;
}

.prefill {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.prefill-val {
  margin: 0 10px;
  font-weight: normal;
}

.item-data-container {
  margin: 26px;
  display: flex;
  justify-content: space-around;
  border: 1px solid
}

.loader {
  position: absolute;
  top: 40%;
  right: 50%;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.clear-bin {
  width: 100px;
  background: orangered;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
